% render "layouts/basic.html" do

%# HTML tags can be embedded in mark down files if you want to do specific custom
%# formatting like this, but in most cases that is not required.
<h1><%= Origen.config.name %> <span style="font-size: 14px">(<%= Origen.app.version %>)</span></h1>

### Purpose

This origen gem provides tester models to drive ATE type testers like the J750, UltraFLEX, V93K. 

### How To Import

In your Gemfile add:

~~~ruby
gem "<%= Origen.app.name %>", ">= <%= Origen.app.version %>"
~~~

or if your application is a gem add this to your <code>.gemspec</code>

~~~ruby
spec.add_runtime_dependency "<%= Origen.app.name %>", ">= <%= Origen.app.version %>"
~~~

### How To Use

To use a tester, instantiate it in the current environment file:

~~~ruby
# environment/j750.rb
$tester = OrigenTesters::J750.new
~~~

Tester programs and patterns can easily be generated for different testers simply by changing the above instantiation.

### How To Setup a Development Environment

[Clone the repository from Github](https://github.com/Origen-SDK/origen_testers).

Follow the instructions here if you want to make a 3rd party app
workspace use your development copy of the OrigenTesters plugin:
[Setting up a Plugin Development Environment](http://origen-sdk.org/origen/latest/guides/plugins)

This plugin also contains a test suite, makes sure this passes before committing
any changes!

~~~text
origen test
~~~

% end
