% render "layouts/basic.html" do

%# HTML tags can be embedded in mark down files if you want to do specific custom
%# formatting like this, but in most cases that is not required.
<h1><%= Origen.config.name %> <span style="font-size: 14px">(<%= Origen.app.version %>)</span></h1>

### Purpose

This origen gem provides tester models to drive ATE type testers like the J750, UltraFlex, V93K. 

### How To Import

In your Gemfile add:

~~~ruby
gem "<%= Origen.app.name %>", ">= <%= Origen.app.version %>"
~~~

or if your application is a gem add this to your <code>.gemspec</code>

~~~ruby
spec.add_runtime_dependency "<%= Origen.app.name %>", ">= <%= Origen.app.version %>"
~~~

### How To Use

To use a tester, simply change the application target to instantiate one of the supported testers:

~~~ruby
$tester = Testers::J750.new
~~~


Tester programs and patterns can easily be generated for different testers simply by changing the above instantiation.

### How To Setup a Development Environment

~~~text
origen fetch origen_testers
~~~

This gem also contains a test suite, you will not be able to release an update without first passing the following:

~~~
origen examples
origen specs
~~~

% end
